<a href="https://colab.research.google.com/github/RICHAR-SL/pandas/blob/main/PANDASs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
import numpy as np

Escribir un programa que pregunte al usuario por las ventas de un rango de años y muestre por
pantalla una serie con los datos de las ventas indexada por los años, antes y después de aplicarles
un descuento del 10%.

In [2]:
inicio = int(input("Año de inicio: "))
fin = int(input("Año final: "))
ventas = {}

for año in range(inicio, fin + 1):
    ventas[año] = float(input(f"Ventas en {año}: "))

serie_ventas = pd.Series(ventas)
serie_descuento = serie_ventas * 0.9

print("Ventas normales:")
print(serie_ventas)
print("\nVentas con 10% de descuento:")
print(serie_descuento)

KeyboardInterrupt: Interrupted by user

Ejercicio 2
Escribir una función que reciba un diccionario con las notas de los alumnos de un curso y devuelva
una serie con la nota mínima, la máxima, media y la desviación típica

In [ ]:
# Solicitar nombre del curso
curso = input("Ingrese el nombre del curso: ")

# Crear diccionario de notas
notas = {}
print("Ingrese las notas de los alumnos (deje el nombre vacío para terminar):")

while True:
    nombre = input("Nombre del alumno: ")
    if nombre == "":
        break
    try:
        nota = float(input(f"Nota de {nombre}: "))
        notas[nombre] = nota
    except ValueError:
        print("Por favor, ingrese una nota válida (número).")

# Convertir diccionario a Serie de pandas
serie_notas = pd.Series(notas)

# Calcular estadísticas del curso
print(f"\nEstadísticas del curso {curso}:")
print(f"Nota mínima: {serie_notas.min():.2f}")
print(f"Nota máxima: {serie_notas.max():.2f}")
print(f"Nota media: {serie_notas.mean():.2f}")
print(f"Desviación típica: {serie_notas.std():.2f}")

Ejercicio 3
Escribir una función que reciba un diccionario con las notas de los alumnos de un curso y devuelva
una serie con las notas de los alumnos aprobados ordenadas de mayor a menor.

In [ ]:

# Función que devuelve las notas aprobadas ordenadas de mayor a menor
def notas_aprobados(dic_notas):
    serie = pd.Series(dic_notas)
    aprobados = serie[serie >= 10.5].sort_values(ascending=False)
    return aprobados

# Solicitar nombre del curso
curso = input("Ingrese el nombre del curso: ")

# Crear diccionario de notas
notas = {}
print("Ingrese las notas de los alumnos (deje el nombre vacío para terminar):")

while True:
    nombre = input("Nombre del alumno: ")
    if nombre == "":
        break
    try:
        nota = float(input(f"Nota de {nombre}: "))
        notas[nombre] = nota
    except ValueError:
        print("Por favor, ingrese una nota válida (número).")

# Convertir diccionario a Serie de pandas
serie_notas = pd.Series(notas)
# Mostrar notas de alumnos aprobados
print(f"\nAlumnos aprobados en {curso} (ordenados de mayor a menor):")
print(notas_aprobados(notas))

Ejercicio 4
Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla
siguiente:
Mes Ventas Gastos
Enero 30500 22000
Febrero35600 23400
Marzo 28300 18100
Abril 33900 20700

In [ ]:


datos = {
    "Mes": ["Enero", "Febrero", "Marzo", "Abril"],
    "Ventas": [30500, 35600, 28300, 33900],
    "Gastos": [22000, 23400, 18100, 20700]
}

df = pd.DataFrame(datos)
print(df)

Ejercicio 5
Escribir una función que reciba un DataFrame con el formato del ejercicio anterior, una lista de
meses, y devuelva el balance (ventas - gastos) total en los meses indicados.

In [ ]:
def balance_mensual(df, meses):
    df_filtrado = df[df["Mes"].isin(meses)]
    return (df_filtrado["Ventas"] - df_filtrado["Gastos"]).sum()

# Ejemplo
meses = ["Enero", "Abril"]
print("Balance:", balance_mensual(df, meses))

Ejercicio 6
El fichero cotizacion.csv contiene las cotizaciones de las empresas del IBEX35 con las siguientes
columnas: nombre (nombre de la empresa), Final (precio de la acción al cierre de bolsa), Máximo
(precio máximo de la acción durante la jornada), Mínimo (precio mínimo de la acción durante la
jornada), volumen (Volumen al cierre de bolsa), Efectivo (capitalización al cierre en miles de euros).
Construir una función que construya un DataFrame a partir del un fichero con el formato anterior y
devuelva otro DataFrame con el mínimo, el máximo y la media de dada columna.

In [ ]:
# Función que lee el archivo y calcula min, max y media de una columna
def resumen_columna(archivo, columna):
    df = pd.read_csv(archivo, sep=';')  # <-- Esto es clave

    # Eliminar espacios en nombres de columnas si los hay
    df.columns = df.columns.str.strip()

    if columna in df.columns:
        resumen = {
            'Minimo': df[columna].min(),
            'Maximo': df[columna].max(),
            'Media': df[columna].mean()
        }
        return pd.DataFrame([resumen])
# Parámetros
archivo = "/content/cotizacion.csv"
columna = 'Maximo'  # Usa el nombre exacto de la columna (con tilde si la tiene)

# Obtener y mostrar resultado
resultado = resumen_columna(archivo, columna)
print(f"Resumen de la columna '{columna}':")
print(resultado)

Ejercicio 7
El fichero titanic.csv contiene información sobre los pasajeros del Titanic. Escribir un programa con
los siguientes requisitos:
Generar un DataFrame con los datos del fichero.
Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres
de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 últimas filas
Mostrar por pantalla los datos del pasajero con identificador 148.
Mostrar por pantalla las filas pares del DataFrame.
Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas
alfabéticamente.
Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.
Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.
Eliminar del DataFrame los pasajeros con edad desconocida.
Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.
Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.
Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.

In [41]:
import pandas as pd

df = pd.read_csv("titanic.csv", sep=';')

# Información general
print("Dimensiones: ", df.shape)
print("Cantidad de datos: ", df.size)
print("Columnas: ", df.columns.tolist())
print("Índices: ", df.index.tolist()[:10])
print("Tipos de datos:\n ", df.dtypes)
print("\n\nPrimeras 10 filas:\n ", df.head(10))
print("\n\nÚltimas 10 filas:\n ", df.tail(10))

# Pasajero con ID 148
if 148 in df.index:
    pasajero_148 = df[df['Id Pasajero'] == 148]
    print("Pasajero con ID 148:\n", pasajero_148)

else:
    print("No hay pasajero con índice 148.")

# Filas pares
print("Filas pares:\n", df.iloc[::2])

# Nombres de personas en 1ra clase ordenados alfabéticamente
primera_clase = df[df['ClaseP'] == 1]['Nombre'].sort_values()
print("\nPrimera clase ordenado:\n", primera_clase)

# Porcentaje de sobrevivientes y muertos
sobrevivientes = df['Sobrevivió'].value_counts(normalize=True) * 100
print("\n\nPorcentaje de sobrevivientes/muertos:")
print("Muertos: {:.2f}%".format(sobrevivientes[0]))
print("Sobrevivientes: {:.2f}%".format(sobrevivientes[1]))

# Supervivientes por clase
supervivientes_por_clase = df.groupby('ClaseP')['Sobrevivió'].mean() * 100

print("\nSupervivientes por clase:")
for clase, porcentaje in supervivientes_por_clase.items():
    print(f"Clase {clase}: {porcentaje:.2f}%")

# Eliminar pasajeros sin edad
df = df[df['Edad'].notna()].copy()

print("\nEdad media de mujeres por clase:")
print(df[df['Sexo'] == 'female'].groupby('ClaseP')['Edad'].mean().round(2))


# Nueva columna: ¿menor de edad?
df['Menor'] = df['Edad'] < 18

# Supervivencia por clase y edad
print("\n\nSupervivencia por clase y edad:\n", df.groupby(['ClaseP', 'Menor'])['Sobrevivió'].mean() * 100)

Dimensiones:  (891, 12)
Cantidad de datos:  10692
Columnas:  ['Id Pasajero', 'Sobrevivió', 'ClaseP', 'Nombre', 'Sexo', 'Edad', 'SibSp', 'Parch', 'Boleto', 'Tarifa', 'Cabina', 'Embarcado']
Índices:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Tipos de datos:
  Id Pasajero      int64
Sobrevivió       int64
ClaseP           int64
Nombre          object
Sexo            object
Edad           float64
SibSp            int64
Parch            int64
Boleto          object
Tarifa         float64
Cabina          object
Embarcado       object
dtype: object


Primeras 10 filas:
     Id Pasajero  Sobrevivió  ClaseP  \
0            1           0       3
1            2           1       1
2            3           1       3
3            4           1       1
4            5           0       3
5            6           0       3
6            7           0       1
7            8           0       3
8            9           1       3
9           10           1       2

                                              Nombre    Sexo  Edad  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Boleto   Tarifa Cabina Embarcado
0      0         A/5 21171   7.2500    NaN         S
1      0          PC 17599  71.2833    C85         C
2      0  STON/O2. 3101282   7.9250    NaN         S
3      0            113803  53.1000   C123         S
4      0            373450   8.0500    NaN         S
5      0            330877   8.4583    NaN         Q
6      0             17463  51.8625    E46         S
7      1            349909  21.0750    NaN         S
8      2            347742  11.1333    NaN         S
9      0            237736  30.0708    NaN         C


Últimas 10 filas:
       Id Pasajero  Sobrevivió  ClaseP  \
881          882           0       3
882          883           0       3
883          884           0       2
884          885           0       3
885          886           0       3
886          887           0       2
887          888           1       1
888          889           0       3
889          890           1       1
890          891           0       3

                                       Nombre    Sexo  Edad  SibSp  Parch  \
881                        Markun, Mr. Johann    male  33.0      0      0
882              Dahlberg, Miss. Gerda Ulrika  female  22.0      0      0
883             Banfield, Mr. Frederick James    male  28.0      0      0
884                    Sutehall, Mr. Henry Jr    male  25.0      0      0
885      Rice, Mrs. William (Margaret Norton)  female  39.0      0      5
886                     Montvila, Rev. Juozas    male  27.0      0      0
887              Graham, Miss. Margaret Edith  female  19.0      0      0
888  Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1      2
889                     Behr, Mr. Karl Howell    male  26.0      0      0
890                       Dooley, Mr. Patrick    male  32.0      0      0

               Boleto   Tarifa Cabina Embarcado
881            349257   7.8958    NaN         S
882              7552  10.5167    NaN         S
883  C.A./SOTON 34068  10.5000    NaN         S
884   SOTON/OQ 392076   7.0500    NaN         S
885            382652  29.1250    NaN         Q
886            211536  13.0000    NaN         S
887            112053  30.0000    B42         S
888        W./C. 6607  23.4500    NaN         S
889            111369  30.0000   C148         C
890            370376   7.7500    NaN         Q
Pasajero con ID 148:
      Id Pasajero  Sobrevivió  ClaseP                            Nombre  \
147          148           0       3  Ford, Miss. Robina Maggie "Ruby"

       Sexo  Edad  SibSp  Parch      Boleto  Tarifa Cabina Embarcado
147  female   9.0      2      2  W./C. 6608  34.375    NaN         S
Filas pares:
      Id Pasajero  Sobrevivió  ClaseP  \
0              1           0       3
2              3           1       3
4              5           0       3
6              7           0       1
8              9           1       3
..           ...         ...     ...
882          883           0       3
884          885           0       3
886          887           0       2
888          889           0       3
890          891           0       3

                                                Nombre    Sexo  Edad  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
4                             Allen, Mr. William Henry    male  35.0      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
..                                                 ...     ...   ...    ...
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
884                             Sutehall, Mr. Henry Jr    male  25.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Boleto   Tarifa Cabina Embarcado
0        0         A/5 21171   7.2500    NaN         S
2        0  STON/O2. 3101282   7.9250    NaN         S
4        0            373450   8.0500    NaN         S
6        0             17463  51.8625    E46         S
8        2            347742  11.1333    NaN         S
..     ...               ...      ...    ...       ...
882      0              7552  10.5167    NaN         S
884      0   SOTON/OQ 392076   7.0500    NaN         S
886      0            211536  13.0000    NaN         S
888      2        W./C. 6607  23.4500    NaN         S
890      0            370376   7.7500    NaN         Q

[446 rows x 12 columns]

Primera clase ordenado:
 730                      Allen, Miss. Elisabeth Walton
305                     Allison, Master. Hudson Trevor
297                       Allison, Miss. Helen Loraine
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
460                                Anderson, Mr. Harry
                            ...
155                        Williams, Mr. Charles Duane
351             Williams-Lambert, Mr. Fletcher Fellows
55                                   Woolner, Mr. Hugh
555                                 Wright, Mr. George
325                           Young, Miss. Marie Grice
Name: Nombre, Length: 216, dtype: object


Porcentaje de sobrevivientes/muertos:
Muertos: 61.62%
Sobrevivientes: 38.38%

Supervivientes por clase:
Clase 1: 62.96%
Clase 2: 47.28%
Clase 3: 24.24%

Edad media de mujeres por clase:
ClaseP
1    34.61
2    28.72
3    21.75
Name: Edad, dtype: float64


Supervivencia por clase y edad:
 ClaseP  Menor
1       False    63.793103
        True     91.666667
2       False    41.333333
        True     91.304348
3       False    20.216606
        True     37.179487
Name: Sobrevivió, dtype: float64

Ejercicio 8
Los ficheros emisiones-2016.csv, emisiones-2017.csv, emisiones-2018.csv y emisiones-2019.csv,
contienen datos sobre las emisiones contaminates en la ciudad de Madrid en los años 2016, 2017,
2018 y 2019 respectivamente. Escribir un programa con los siguientes requisitos:
Generar un DataFrame con los datos de los cuatro ficheros.
Filtrar las columnas del DataFrame para quedarse con las columnas ESTACION, MAGNITUD, AÑO,
MES y las correspondientes a los días D01, D02, etc.
Reestructurar el DataFrame para que los valores de los contaminantes de las columnas de los días
aparezcan en una única columna.
Añadir una columna con la fecha a partir de la concatenación del año, el mes y el día (usar el módulo
datetime).
Eliminar las filas con fechas no válidas (utilizar la función isnat del módulo numpy) y ordenar el
DataFrame por estaciones contaminantes y fecha.
Mostrar por pantalla las estaciones y los contaminantes disponibles en el DataFrame.
Crear una función que reciba una estación, un contaminante y un rango de fechas y devuelva una
serie con las emisiones del contaminante dado en la estación y rango de fechas dado.

In [60]:
import pandas as pd
from datetime import datetime

#    archivos = [f"emisiones-{año}.csv" for año in range(2016, 2020)]
#df_union = pd.concat([pd.read_csv(f, sep=';') for f in archivos])

#         Guardar la unión en un nuevo CSV
#df_union.to_csv('emisiones_completas.csv', index=False, sep=';')
def cargar_emisiones():
    archivos = [f"emisiones-{año}.csv" for año in range(2016, 2020)]
    df = pd.concat([pd.read_csv(f, sep=';') for f in archivos])
    return df
df = cargar_emisiones()
print(df)

#df_melt = df.melt(
 #   id_vars=['ESTACION', 'MAGNITUD', 'AÑO', 'MES'],  # columnas que no quieres transformar
 #   value_vars=dias,                                # columnas que quieres transformar (D01, D02, ...)
 #   var_name='DIA',                                # nombre que tendrá la columna de días
 #   value_name='VALOR'                             # nombre que tendrá la columna de valores
#)

#     # Primero, crea la columna DIA en formato 'D01', 'D02', etc.
#df['DIA'] = df['DIA'].apply(lambda x: f'D{str(x).zfill(2)}')
# Luego, pivotamos
#df_pivot = df.pivot(index=['ESTACION', 'MAGNITUD', 'AÑO', 'MES'], columns='DIA', values='VALOR').reset_index()
#print(df_pivot)



# Agregar la columna FECHA concatenando año, mes y día
df['FECHA'] = pd.to_datetime(dict(year=df['AÑO'], month=df['MES'], day=df['DIA']), errors='coerce')

# Ahora elimina filas con fechas inválidas (por ejemplo, 31 de febrero)
df = df.dropna(subset=['FECHA'])

# Ordenar por estación, contaminante y fecha
df = df.sort_values(by=['ESTACION', 'MAGNITUD', 'FECHA'])

print(df.head())

    ESTACION MAGNITUD   AÑO  MES  DIA  VALOR
0     Centro      NO2  2016    1    1     40
1     Centro      NO2  2016    1    2     42
2     Centro      NO2  2016    1    3     39
3     Centro      NO2  2016    1    4     41
4     Centro      NO2  2016    1    5     38
..       ...      ...   ...  ...  ...    ...
715      Sur     PM10  2019   12    6      1
716      Sur     PM10  2019   12    7      1
717      Sur     PM10  2019   12    8      1
718      Sur     PM10  2019   12    9      1
719      Sur     PM10  2019   12   10      1

[2845 rows x 6 columns]
  ESTACION MAGNITUD   AÑO  MES  DIA  VALOR      FECHA
0   Centro      NO2  2016    1    1     40 2016-01-01
1   Centro      NO2  2016    1    2     42 2016-01-02
2   Centro      NO2  2016    1    3     39 2016-01-03
3   Centro      NO2  2016    1    4     41 2016-01-04
4   Centro      NO2  2016    1    5     38 2016-01-05